<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7c9ec7cc-a3ba-4b76-96e6-856b01748d4b/resourceGroups/Learning_Cloud/providers/Microsoft.Web/sites/RentCollectionAppService-NetAPI</ResourceId>
    <ResourceGroup>Learning_Cloud</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://rentcollectionappservice-netapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://rentcollectionappservice-netapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$RentCollectionAppService-NetAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>